#calculator {
    
    border: 1px solid black;
    width: 300px;
    height: 500px;
    padding: 10px;

}

#calculator {
    background-color: gray;
    padding: 15px 15px 75px;
}

#calc-input {
    background-color: white;
    position: relative;
    height: 30%
}

/* #past-user-calc-input {
    border: 1px solid black;
} */

#user-calc-input {
    unicode-bidi: bidi-override !important;
    position: absolute;
    width: 100%;
    bottom: 0;
    direction: rtl;
}

#input-buttons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-button {
    height: 55px;
}