#calculator {
    position: absolute;
    width: 275px;
    height: 400px;
    padding: 15px 15px 75px;
    background-color: blue;
}

#calc-input {
    background-color: white;
    position: relative;
    height: 30%;
    margin: 0 0 15px;
}

/* #past-user-calc-input {
    border: 1px solid black;
} */

#user-calc-input {
    unicode-bidi: bidi-override !important;
    position: absolute;
    width: 100%;
    bottom: 0;
    direction: rtl;
}

#input-buttons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.calc-button {
    background-color: white;
    height: 55px;
}

#num {
    background-color: lightblue;
}

#equal {
    grid-column: span 2;
}
